@media (max-width: 690px) {
  .modalWindow {
    width: 100%;
    margin: 0 30px;
  }
}

.modalWrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  .modalWindow {
    margin: 0 60px;
    position: relative;
    width: 800px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .profileInfo {
      padding: 25px 10px;
      width: 100%;
      height: 100%;
      background-color: rgba(40, 40, 40);
      border-radius: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      .profilePhoto {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #ffffff33;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .inputWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        label {
          color: rgb(245, 125, 0);
          font-size: 20px;
        }
        .profileInput {
          width: 100%;
          height: 50px;
          background-color: rgba(40, 40, 40);
          text-align: center;
          border: 0px;
          outline: none;
          border: 1px solid rgb(245, 125, 0);
          color: rgb(245, 125, 0);
          font-size: 20px;
          font-weight: 700;
        }
      }
      .modalButton {
        padding: 15px 40px;
        color: rgb(40, 40, 40);
        background-color: rgb(245, 125, 0);
        border: 0px;
        outline: none;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
        transition: opacity 0.3s ease;
      }
      .modalButton:disabled {
        opacity: 50%;
        transition: opacity 0.3s ease;
      }
    }

    .closeModal {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, 50%);
      cursor: pointer;
    }
  }
}

.modalWrapperHidden {
  display: none;
}

.loading {
  animation: spin 1s linear 0s infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
