.wrapper {
  width: 100vw;
  height: 1000vh;
  background-color: rgb(40, 40, 40);
  color: orange;
  display: flex;
  p {
    color: orange;
  }
}

.chat {
  border: 1px solid #343434;
  flex: 1 1 60%;
  width: 50%;
  height: calc(100vh - 100px);
  border-radius: 10px 10px 0 0;
  background-color: rgb(30, 30, 30);
  color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  & .noChatMessage {
    font-size: 22px;
    color: inherit;
  }
}

@media (max-width: 600px) {
  .chat {
    display: none;
  }
}

@media (max-width: 800px) {
  .chat {
    flex: 30%;
  }
}
