.sideMenuActive {
  padding: 10px 10px 0 40px;
  align-items: start;
  height: 100vh;
  position: absolute;
  background-color: rgb(245, 145, 0);
  right: 0;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row-reverse;
  transform: translate(0, -100px);
  border-top-left-radius: 10%;
  .profileWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
  .profileCard {
    width: 100%;
    height: 150px;
    padding: 0 100px;
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .profileImage {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .profileName {
      width: 100px;
      color: rgb(245, 145, 0);
      font-size: 25px;
      font-weight: 700;
      text-wrap: balance;
      overflow-wrap: break-word;
      text-align: left;
    }
    .profileEdit {
      color: white;
      text-decoration: underline;
      text-underline-offset: 2px;
      font-weight: 300;
      cursor: pointer;
    }
  }

  .sideOptions {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
  }

  .closeButton {
    cursor: pointer;
    fill: rgb(255, 255, 255);
  }
  .logOutButton {
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(40, 40, 40);
    color: rgb(205, 0, 0);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
  }
}

.sideMenu {
  padding: 10px 10px 0 40px;
  align-items: start;
  height: 100vh;
  position: absolute;
  background-color: rgb(245, 145, 0);
  right: 0;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row-reverse;
  transform: translate(calc(100% + 10px), -100px);
  border-top-left-radius: 10%;
  .profileWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
  .profileCard {
    width: 100%;
    height: 150px;
    padding: 0 100px;
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .profileImage {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: white;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .profileName {
      color: rgb(245, 145, 0);
      font-size: 25px;
      font-weight: 700;
    }
    .profileEdit {
      color: white;
      text-decoration: underline;
      text-underline-offset: 2px;
      font-weight: 300;
      cursor: pointer;
    }
  }
  .sideOptions {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
  }

  .closeButton {
    cursor: pointer;
    fill: rgb(255, 255, 255);
  }
  .logOutButton {
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(40, 40, 40);
    color: rgb(205, 0, 0);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
  }
}
