.sideMenuActive {
  padding: 0 40px;
  height: 100vh;
  position: absolute;
  background-color: rgb(245, 145, 0);
  right: 0;
  z-index: 3;
  transition: right 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transform: translateY(-100px);
  border-top-left-radius: 10%;
  flex-direction: column;
  .profileCard {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .profileImage {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: white;
    }
    .profileName {
      color: rgb(245, 145, 0);
      font-size: 25px;
      font-weight: 700;
    }
    .profileEdit {
      color: white;
      text-decoration: underline;
      text-underline-offset: 2px;
      font-weight: 300;
      cursor: pointer;
    }
  }

  .sideOptions {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(147, 83, 83);
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
    fill: rgb(255, 255, 255);
  }
  .logOutButton {
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(40, 40, 40);
    color: rgb(205, 0, 0);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
  }
}

.sideMenu {
  width: 25%;
  height: 100vh;
  position: absolute;
  background-color: rgb(40, 40, 40);
  z-index: 33;
  transition: right 0.5s ease-in-out;
  display: flex;
  right: -100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-100px);
  .closeButton {
    position: absolute;
    top: 2.5%;
    left: 85%;
    cursor: pointer;
  }
}
