.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 150px;
    text-shadow: 0px 10px 20px rgba(0, 76, 0, 0.467);
    background: linear-gradient(to bottom, #4ccf18 0%, #14a700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
